.header-container {
    height: 8vh;
    background-color: rgb(215,215,215, .7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
ul {

    list-style-type: none;
    
    & li {
        
        @extend %heading-item;
        margin-top: 3%;
        
        & a {
            color: white;
            text-decoration: none;
        }
        
        & .active {
            text-decoration: none;
            color: #4d4d4d;
        }

        & a:hover {
            text-decoration: none;
            color: white;
        }

    }
    
}

.footer {
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #d7d7d7;
    top: 100vh ;
    

    & img {
        display: block;
        width: 8vw;
        position: relative;
        left: (100vw/3 - 8vw)/2;
        top: 3vh;
    }

    & .footerCent {
        text-align: center;

        & .subFooter1 {
            position: relative;
            top: 5vh;

            @extend %heading-item;
        }

        & .subFooter2 {
            position: relative;
            top: 5vh * 1.5;

            & input[type=text] {
                @extend %body-text-item;
            }

            & .signUpBox {
                height: 3vw;
                padding-right: 3vw;
                position: relative;  
            }

            & .signUpButton {
                height: 3vw;
                text-align: center;
                background-color: #4D4D4D;
                color: white;
                
                @extend %body-text-item;
            }
        }

        & .subFooter3 {
            position: relative;
            top: 5vh * 2.5;

            & .fab {
                font-size: 3vh;
            }
        }

        & .subFooter4 {
            position: relative;
            top: 17vh;
        }
    }
}
    
    
